@import "../../scss/styleVariables";
.extra {
    background-color: $accent-3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    div {
        display: flex;
        justify-content: center;
        padding: 10px;
        .menu-icon {
            color: black;
            height: 30px;
            width: 30px;
        }
    }
}
