@import "../../scss/styleVariables";
.user-profile {
    display: grid;
    grid-template-areas:
        "a b"
        "a c"
        "a d";
}
.profile-card-container {
    background-color: $primary;
    height: 120px;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px;
    .profile-img {
        border: 1px solid white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .number {
        color: red;
    }
    .text-right {
        border: 1px solid red;
        justify-self: center;
        width: 200px;
    }
}
