@import "../../scss/styleVariables";
@import "../../scss/breakpoints.scss";
.expLevel {
    width: 100%;
    margin: -3.6rem 1rem -1rem 7.5rem;
    border-radius: 20px;
    box-shadow: -2px -1px 5px $secondary; 
    width: 10.8rem;
  
   @include breakpoint(tablet){
     margin: -5.5rem -20rem -10rem 15rem;
     width: 40rem;


   }
   
   
}
