@import "../../scss/styleVariables";

.user-statistic-container {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    // grid-row-gap: 10px;
}
