@import "../../scss//styleVariables";
@import "../../scss/breakpoints.scss";
// .currently-reading {
//     // display: grid;

// }
.currently-reading-slide-container-grid {
    // margin: 0 20px;
    // margin: auto;
    background-color: $accent-3;
    // border-radius: 20px;
    // border: 1px solid red;
    gap: 10px;
    height: 250px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat (10, 1fr);

    .currently-reading-slide-image-container {
        align-self: center;
        margin-left: -10px;
        grid-column: 4/6;
        grid-row: 1/2;
        -webkit-box-shadow: 5px 5px 15px 5px #000000;
        box-shadow: 5px 5px 8px 3px #330202;
        // .liest-dezeit-cover {
        //     width: fit-content;
        //     height: fit-content;
        // }
        // .liest-derzeit-cover {
        //     width: fit-content;
        //     height: fit-content;
        // }
    }
    .currently-reading-slide-information {
        text-align: left;
        margin-right: 12px;
        align-self: center;
        padding: 10px 10px;
        grid-column: 6/9;
        grid-row: 1/2;
        .fakebar {
            width: 80%;
            height: 20px;
            // background-color: white;
            // text-align: center;
        }
        .currently-reading-progress {
            padding: 5px 0 5px 5px;
            border: 1px solid black;
            border-radius: 4px;
            margin-top: 10px;
            background-color: antiquewhite;
            -webkit-box-shadow: 5px 5px 15px 5px #000000;
            box-shadow: 5px 5px 10px 5px #330202;
            // h5 {
            //     text-align: left;
            //     padding-left: 30px;
            // }
        }
    }
    .wantoread-slide-image-container {
        align-self: center;
        grid-column: 2/10;
        grid-row: 1/2;
    }
}

.thumbnail-slide-container {
    // display: grid;
    // grid-column: 4;
    // grid-row: 2;
    // column-gap: 10px;
    // row-gap: 5px;
    // display: grid;
    // grid-template-columns: repeat(2, 100px);
    // grid-template-rows: repeat(2, 100px) 100px;
    // grid-column-gap: 5px;
    // grid-row-gap: 5px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 0.8fr 0.2fr;
    // grid-column-gap: 5px;
    // grid-row-gap: 5px
    display: flex;
    justify-content: space-evenly;

    padding: 10px;
    margin-bottom: 15px;

    margin-left: 15px;
}

.want-to-read-container {
    display: flex;
}

.already-read-container {
    display: flex;
}

.user-profile-title {
    margin-left: 1rem;
    text-align: left;
}
/*---------------------"Mini"--------------------*/
@include breakpoint(tablet) {
    .currently-reading-slide-container-grid {
        // margin: auto;
        background-color: $accent-3;
        // border-radius: 20px;
        // border: 1px solid red;
        gap: 10px;
        height: 400px;
        width: 750px;
        display: grid;
        grid-template-columns: repeat (10, 1fr);

        .currently-reading-slide-image-container {
            align-self: center;
            margin: auto;
            // padding: 40px 0 40px 5px;
            // width: fit-content;
            // height: fit-content;
            grid-column: 4/6;
            grid-row: 1/2;
            -webkit-box-shadow: 5px 5px 15px 5px #000000;
            box-shadow: 5px 5px 10px 5px #330202;
            width: 100%;
            height: 330px;
            .liest-derzeit-cover {
                display: flex;
                width: 100%;
                height: 330px;
                justify-items: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .currently-reading-slide-information {
            text-align: left;
            margin-right: 80px;
            align-self: center;
            padding: 15px 15px;
            grid-column: 6/9;
            grid-row: 1/2;
            .fakebar {
                width: 80%;
                height: 20px;
                // background-color: white;
                // text-align: center;
            }
            .currently-reading-progress {
                padding: 10px 5px 10px 5px;
                border: 1px solid black;
                border-radius: 4px;
                margin-top: 10px;
                background-color: antiquewhite;
                -webkit-box-shadow: 5px 5px 15px 5px #000000;
                box-shadow: 5px 5px 10px 5px #330202;
                // h5 {
                //     text-align: left;
                //     padding-left: 30px;
                // }
            }
        }
        .wantoread-slide-image-container {
            align-self: center;
            grid-column: 2/10;
            grid-row: 1/2;
        }
    }

    .thumbnail-slide-container {
        // display: grid;
        // grid-column: 4;
        // grid-row: 2;
        // column-gap: 10px;
        // row-gap: 5px;
        // display: grid;
        // grid-template-columns: repeat(2, 100px);
        // grid-template-rows: repeat(2, 100px) 100px;
        // grid-column-gap: 5px;
        // grid-row-gap: 5px;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: 0.8fr 0.2fr;
        // grid-column-gap: 5px;
        // grid-row-gap: 5px
        display: flex;
        justify-content: space-evenly;

        width: 250px;
        // padding: 10px;
        margin-bottom: 17px;

        margin-left: 55px;
    }

    .want-to-read-container {
        display: flex;
    }

    .already-read-container {
        display: flex;
    }

    .user-profile-title {
        margin-left: 1rem;
        text-align: left;
    }
}

@include breakpoint(desktop) {
}

// @include breakpoint(tablet) {
// }
