@import "../../scss//styleVariables";
.currently-reading-slide-container-grid {
    margin: 0 20px;
    background-color: $accent-3;
    border-radius: 20px;
    border: 1px solid red;
    gap: 10px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat (10, 1fr);

    .currently-reading-slide-image-container {
        align-self: center;
        grid-column: 4/6;
        grid-row: 1/2;
    }
    .currently-reading-slide-information {
        align-self: center;
        grid-column: 6/9;
        grid-row: 1/2;
        .fakebar {
            width: 80%;
            height: 20px;
            background-color: white;
            text-align: center;
        }
    }
    .wantoread-slide-image-container {
        align-self: center;
        grid-column: 2/10;
        grid-row: 1/2;
    }
}

.thumbnail-slide-container {
    // display: grid;
    // grid-column: 4;
    // grid-row: 2;
    // column-gap: 10px;
    // row-gap: 5px;
    // display: grid;
    // grid-template-columns: repeat(2, 100px);
    // grid-template-rows: repeat(2, 100px) 100px;
    // grid-column-gap: 5px;
    // grid-row-gap: 5px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 0.8fr 0.2fr;
    // grid-column-gap: 5px;
    // grid-row-gap: 5px
    display: flex;
    justify-content: space-evenly;

    padding: 10px;
    margin-bottom: 15px;

    margin-left: 15px;
}

.want-to-read-container {
    display: flex;
}

.already-read-container {
    display: flex;
}
