.listen-book-cover-container {
    grid-area: 1 / 1 / 4 / 3;
}

.listen-book-cover {
    width: 100%;
    height: 100%;
}

.listen-book-info {
    grid-area: 4 / 1 / 5 / 3;
}
// .thumbnail-slide-container {
//     text-align: left;
// }
