@import "../../scss/styleVariables";
.listen-book-cover {
    width: 128px;
    height: 188px;
}

.listen-book-info {
    flex-flow: column;
}

@include breakpoint(tablet) {
    .listen-book-cover {
        width: 256px;
        height: 400px;
    }

    .listen-book-info {
        flex-flow: column;
    }
}
