@import "../../../../scss/styleVariables";

.lese-fortschritt-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lese-fortschritt-title {
        margin-bottom: 0.5rem;
    }
    .lese-fortschritt-input-container {
        display: flex;
        justify-content: center;
        input[type="number"].no-spinner::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .lese-fortschritt-input {
            width: 10rem;
            height: 3rem;
            border: none;
            border-radius: 4px 0 0 4px;
            padding: 0 0.5em;
            text-align: center;
            font: {
                size: $l;
                family: text-bold, sans-serif;
            }
            &::placeholder {
                font: {
                    family: text-bold, sans-serif;
                    size: 1.5rem;
                }
                color: $placeholder;
            }
            &:focus,
            &:hover {
                outline: none;
                border-bottom: 2px inset $accent-1;
                margin-bottom: -2px;
            }
        }
        .lese-fortschritt-aktualisieren-btn {
            border-radius: 0 4px 4px 0;
        }
    }
    .lese-fortschritt-fertig-btn {
        border-radius: 4px;
        margin-top: 0.8rem;
    }
}
.fortschritt-buttons {
    all: unset;
    height: 3rem;
    padding: 0 0.5em;
    background-color: $accent-1;
}
