// $primary: #a47b5b;
// $secondary: #554945;
// $background: #f0eedc;
// $accent-1: #fc8468;
// $accent-1-alt: #fc83688e;
// $accent-2: #fcd8be;
// $accent-3: #cbc0b6;
// $font: #37323e;
// $placeholder: #37323e3f;
// $loading-background: #f0eedcb3;
// $accent-4: #ca6a54;
$primary: #102d5b;
$secondary: #102d5b;
$background: #f0eedc;
$accent-1: #02c1c2;
$accent-1-alt: #3d6cb98d;
$accent-2: #3d6cb9;
$accent-3: #cbc0b6;
$font: #37323e;
$placeholder: #37323e3f;
$loading-background: #f0eedcb3;
$accent-4: #ca6a54;
