$primary: #102d5b;
$background: #f0eedc;
$accent-1: #02c1c2;
$accent-1-alt: #3d6cb98d;
$accent-2: #3d6cb9;
$accent-3: #cbc0b6;
$bullet-not-active: #02c2c28f;
$font: #37323e;
$font-alt: #f0eedc;
$placeholder: #37323e3f;
$loading-background: #f0eedcb3;
