@import "/src/scss/styleVariables";
:root {
    font: {
        size: 62.5%;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body {
    font: {
        size: $m;
        family: text-regular, sans-serif;
    }
}
.hidden {
    display: none;
}
