@import "../../scss/styleVariables";

.navbar-container {
    z-index: 1;
    background-color: #102d5b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 1px 1px 15px 1px black;
    align-items: center;
    opacity: 1;
    width: 100%;
    padding: 5px 10px;
    color: $accent-2;
    font: {
        family: headings-black;
        size: $xl;
    }
    .logo-text {
        color: $accent-2;
    }
    .logo-container {
        grid-column: 2;
        display: flex;
        justify-content: center;
    }

    .btn-container {
        grid-column: 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btn-flex-container {
        display: flex;
        justify-content: center;
        .btn-modal-login {
            width: 180px;
            background: $secondary;
            border: none;
            border-radius: 20px;
            color: $accent-2;
            padding: 8px;
            font: {
                size: $m;
            }
        }
    }

    .btn-login {
        background: none;
        border: 2px solid $accent-2;
        border-radius: 50px;
        cursor: pointer;
        font: {
            size: $m;
        }
        color: $accent-2;
        padding: 8px;
    }
    .heading-login {
        text-align: center;
    }
}

@mixin breakpoint($user-value) {
    $my-map: map-get($breakpoints, $user-value);
    @if $my-map {
        @media (#{$my-map}) {
            @content;
        }
    } @else {
        @error "Oops, something gone wrong #{$user-value} is not definde yet";
    }
}
.navbar-container {
    @include breakpoint(tablet) {
        font: {
            size: $xxl;
        }
        .btn-login {
            font: {
                size: $xl;
            }
        }
    }
}
