@import "../../scss/styleVariables";

.footer-container {
    height: 7rem;
    background-color: $primary;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-links {
        font: {
            family: text-bold, sans-serif;
        }
        color: $font;
        &:focus,
        &:hover {
            outline: none;
            border-bottom: 2px inset $accent-1;
            margin-bottom: -2px;
        }
    }
}
