@import "../../scss/styleVariables";

.footer-container {
    padding: 5px;
    margin-top: 10px;
    background-color: $accent-1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 0 0;
    .footer-links {
        font: {
            family: text-bold, sans-serif;
        }
        color: white;
        &:focus,
        &:hover {
            outline: none;
            border-bottom: 2px inset $accent-1;
            margin-bottom: -2px;
        }
    }
}
