@import "../../scss/styleVariables";

.footer-container {
    padding: 5px;
    height: 45px;
    background-color: $primary;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-links {
        // color: $font-alt; //musste ich in der app.scss stylen. keine ahnung warum
        font: {
            family: text-bold, sans-serif;
        }
        &:focus,
        &:hover {
            outline: none;
            border-bottom: 2px inset $accent-1;
            margin-bottom: -2px;
        }
    }
    @include breakpoint(tablet) {
        font: {
            size: $l;
        }
    }
}
