@import "../../scss/styleVariables";

section {
    background-image: url("../../assets/pics/heroBook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
}

.hero-text {
    color: $accent-2;
    width: 80%;
    text-align: center;
}
