@import "../../scss/styleVariables";

.user-infocard-container {
    color: $font-alt;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 100%;
    // padding: 0.5rem;
    .grid-container-1 {
        padding-top: 4px;
        grid-row: 1/4;
        grid-column: 1/2;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        .user-infocard-container-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-avatar {
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
                border: 2px solid $accent-1;
                width: 150px;
                height: 150px;
                cursor: pointer;
                @include breakpoint(tablet) {
                    width: 200px;
                    height: 200px;
                    margin-left: 1rem;
                }
                @include breakpoint(tablet) {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
    .grid-container-2 {
        grid-column: 2 /4;
        grid-row: 1/4;
        margin: 0.5rem;
        .username-container {
            // align-self: flex-end;
            display: flex;
            margin-bottom: 0.5rem;
            &-name {
                font: {
                    size: 6vw;
                }
                @include breakpoint(tablet) {
                    font: {
                        size: 5vw;
                    }
                }
                @include breakpoint(desktop) {
                    font: {
                        size: 3vw;
                    }
                }
            }
            &-level-number {
                align-self: center;
                background-color: $accent-2;
                // width: 6rem;
                padding: 0.2rem 0.5rem;
                margin-left: 0.7rem;
                border-radius: 10px;
                font: {
                    size: 4vw;
                }
                @include breakpoint(tablet) {
                    font: {
                        size: 3vw;
                    }
                    margin-left: 2rem;
                }
                @include breakpoint(desktop) {
                    font: {
                        size: 1.5vw;
                    }
                }
            }
        }
        .user-infocard-container-level {
            // &-expbar {
            // }
            &-xp-percent {
                margin: 1rem 0;
                padding: 0.5rem 1rem;
                width: fit-content;
                background-color: $background;
                color: $primary;
                // text-align: center;
                border-radius: 20px;
                font: {
                    size: 4vw;
                }
                &-count {
                    color: $accent-1;
                }
                @include breakpoint(tablet) {
                    font: {
                        size: 3vw;
                    }
                }
                @include breakpoint(desktop) {
                    font: {
                        size: 1.5vw;
                    }
                }
            }
        }
        .user-statistic-challenge-container {
            margin-bottom: 0.5rem;

            &-challenge-header {
                font: {
                    size: 4.5vw;
                }
                @include breakpoint(tablet) {
                    font: {
                        size: 3.5vw;
                    }
                }
                @include breakpoint(desktop) {
                    font: {
                        size: 2.5vw;
                    }
                }
            }
            &-challenge-body {
                font: {
                    size: 4.3vw;
                }
                @include breakpoint(tablet) {
                    font: {
                        size: 3.2vw;
                    }
                }
                @include breakpoint(desktop) {
                    font: {
                        size: 2vw;
                    }
                }
                &-user-statistic-number {
                    color: $accent-1;
                }
            }
        }
    }
}
