@import "../../scss/styleVariables";
.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $accent-1;
    padding: 1em;
    border-radius: 20px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.399);
    .text {
        color: white;
        text-align: center;
        margin-bottom: 1em;
        font-family: text-bold, sans-serif;
    }
    .btn-login {
        background: $accent-4;
        border: 2px solid $accent-2;
        border-radius: 20px;
        font: {
            size: $m;
            family: text-bold;
        }
        color: $accent-2;
        padding: 8px;
    }
}
