@import "../../scss/styleVariables";

.text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $accent-1;
    padding: 1em 1em 0 1em;
    .text {
        color: white;
        text-align: center;
        margin-bottom: 1em;
        font-family: text-bold, sans-serif;
    }
    a {
        color: $accent-2;
    }
}

@media screen and (min-width: 600px) {
    .text-container {
        padding: 1.6em 1.6em 0 1.6em;
    }
}
