@import "../../scss/styleVariables";
.search-section {
    // border: 1px solid blue;
    background-color: $background;
    display: flex;
    margin-bottom: 5px;
    flex: {
        direction: column;
    }
    .search-title {
        transition: ease 1s;
        margin: 1.5em auto 0 auto;
        text-align: center;
        font: {
            size: $m;
        }
    }
    .searchbar-form {
        width: 100%;
        height: 5rem;
        display: flex;
        flex: {
            direction: row;
        }
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        padding: 0 1rem;

        #searchbar {
            transition: ease 1s;
            width: 24em;
            height: 3rem;
            font: {
                size: $m;
            }
            border: none;
            border-radius: 4px 0 0 4px;
            &::placeholder {
                font: {
                    family: text-bold, sans-serif;
                    size: 1.5rem;
                }
                color: $placeholder;
            }
            &:focus,
            &:hover {
                outline: none;
                border-bottom: 2px inset $accent-1;
                margin-bottom: -2px;
            }
        }
        #search-submit {
            all: unset;
            height: 3rem;
            background-color: $accent-1;
            border-radius: 0 4px 4px 0;
        }

        #searchbar,
        #search-submit {
            font: {
                family: text-bold, sans-serif;
            }
            color: $font;
            padding: 0 0.5em;
        }
    }
    .search-results-container {
        // border: 1px solid green;
        margin: 0 0.3em;

        @include breakpoint(tablet) {
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
        }
    }
    @include breakpoint(tablet) {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }
}

// BREAKPOINTS \\
.search-section {
    @include breakpoint(tablet) {
        .search-title {
            font: {
                size: $xl;
            }
        }

        .searchbar-form {
            height: 7rem;
            #searchbar {
                width: 80%;
                height: 5rem;
                &::placeholder {
                    font: {
                        size: 2rem;
                    }
                }
            }
            #search-submit {
                height: 5rem;
            }
            #search-submit {
                font: {
                    size: $l;
                }
            }
        }
    }
}
