@import "../../scss/styleVariables";

.lese-fortschritt {
    display: flex;
    flex-flow: column;
    margin: 1em 1em;
    font-family: headings-semibold, sans-serif;
    .progress-bar {
        height: 20px; // Höhe des Balkens
        background-color: #4caf50; // Farbe des Fortschrittsbalkens
        max-width: 250px; // Der Balken wird über die Breite gesteuert
        transition: width 0.5s; // Eine sanfte Animation beim Ändern des Fortschritts
        text-align: center;
        margin: 5px;
    }
    .user-profile {
        display: grid;
        grid-template-areas:
            "a b"
            "a c"
            "a d";
    }
    .fortschritt {
        display: grid;
        grid-template-areas:
            "a b"
            "a c"
            "a d";
    }
    .information-container {
        // border: 1px solid red;

        .seiten-gelesen {
            margin-top: 15px;
            font-size: 1em;
        }
    }
    .profile-card-container {
        background-color: $primary;
        height: 120px;
        border: 3px solid black;
        border-radius: 25px;
        padding: 5px;
        .number {
            color: red;
        }
        .text-right {
            border: 1px solid red;
            justify-self: center;
            width: 200px;
        }
        .profile-img {
            border: 1px solid white;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .img-container {
            border: 1px solid white;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .book-cover {
        // font-family: text-bold, sans-serif;
        background-color: $primary;
        display: flex;
        .reading-now {
        }
    }
}
