@import "../../scss/styleVariables";
$transition: 0.3s ease;

.menubar {
    background-color: $background;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: -1px -1px 10px 2px rgba(0, 0, 0, 0.54);
    .menu-item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        border-radius: 50px;
        transition: $transition;
        cursor: pointer;
        &:last-child {
            margin-right: 0px;
        }
        &.inactive {
            background-color: transparent;
            color: black;
        }
    }
}
