@import "../../scss/styleVariables";

.data-container {
    margin: 1em 2em;
}

.Ueberschrift {
    font-family: headings-bold sans-serif;
    font-size: 1.7em;
    margin: 0.5em 0 0.1em 0;
}
.text {
    font-family: text-regular sans-serif;
    font-weight: 700;
}
