@import "../../scss/styleVariables";

.book-actions-add-to-lists-container {
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .book-actions-add-to-lists,
    .book-actions-add-to-lists-dropdown {
        width: 100%;
        height: 100%;
        border: none;
        background-color: $accent-1;
    }
    .book-actions-add-to-lists {
        grid-area: 1 / 1 / 2 / 2;
        border-radius: 4px 0 0 4px;
        font: {
            family: text-bold, sans-serif;
            size: $m;
        }
    }
    .book-actions-add-to-lists-dropdown {
        grid-area: 1 / 2 / 2 / 3;
        border: 2px solid $placeholder;
        border-radius: 0 4px 4px 0;
    }
    .want-to-read-modal,
    .currently-reading-modal,
    .already-read-modal,
    .remove-btn-modal {
        all: unset;
    }
}
