@import "../../scss/styleVariables";
@import "../../scss/breakpoints";

.heading-container {
    width: 100%;
    // background-color: rgba(0, 0, 255, 0.542);
    // background: rgb(203, 192, 182);
    // background: linear-gradient(
    //     129deg,
    //     rgba(203, 192, 182, 1) 11%,
    //     rgba(202, 106, 84, 1) 85%
    // );
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text: {
        decoration: underline;
        // align: center;
    }
    // margin: 1.5rem 0;
    font: {
        size: $m;
        family: headings-semibold sans-serif;
    }
}
// .image-container {
//     width: 400px;
//     height: 100px;
//     // align-items: center;
//     margin: 1.5rem auto;
//     .image {
//         width: 300px;
//         height: 90px;
//         border-radius: 25px;
//     }
// }
.container {
    font: {
        family: text sans-serif;
        size: 1.6rem;
        weight: 800;
    }
    margin: 1rem 2rem 1rem 2rem;
}
.paragraph-container {
    margin: {
        top: 2rem;
        bottom: 2rem;
    }
    .second-paragraph {
        margin: {
            top: 2.3rem;
            bottom: 2.3rem;
        }
    }
}

.picture-container {
    display: flex;
    justify-content: space-evenly;
    .image {
        width: 100px;
        height: 90px;
        border-radius: 25px;
        margin: 0 1rem;
    }
}
.first-picture-container {
}
.second-picture-container {
}
.about-us {
    background-image: url("../../assets/pics/paper-68829_1280-mobile.jpg");
    // background-size:
    // background-color: #353c40;
}

@include breakpoint(tablet) {
    .second-paragraph {
        margin: {
            top: 6rem;
            bottom: 6rem;
        }
    }
}
